<div class="container">
    <div class="row">
        <div class="col-md-7">

            <h4>Create Articles</h4>

            <form id="createArticle">

                <div class="form-group">
                    <label for="">Title</label>
                    <input type="text" id="title" class="form-control">
                </div>

                <div class="form-group">
                    <label for="">Review</label>
                    <textarea rows="10" id="review" class="form-control"></textarea>
                </div>

                <div class="form-group">
                    <label for="">Rating</label>
                    <input type="number" id="rating" class="form-control">
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>

            </form>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        $('#createArticle').submit(function(){

            var article ={
                title: $('#title').val(),
                review: $('#review').val(),
                rating: $('#rating').val()
            };

            $.ajax({
                url: 'http://localhost:8080/dashboard/articles/create',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(article),
                success: function(response){
                    console.log(response);
                },
                error: function(err){
                    console.log(err);
                }
            });

        });

    });
</script>