<div class="container">
    <div class="row">
        <div class="col-md-7">

            <h4>Articles List</h4>

            <table class="table table-bordered table-hover">
                <thead>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </thead>
                <tbody>
                    {{#each users}}
                        <tr>
                            <td>{{this._id}}</td>
                            <td>{{this.title}}</td>
                            <td><a href="http://localhost:8080/dashboard/articles/edit/{{this._id}}" class="btn btn-info">Edit</a></td>
                            <td>
                                <form id="removeArticle">
                                    <button type="submit" class="btn btn-danger">Remove</button>
                                </form>
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>
    </div>
</div>
<script>
    $(document).ready(function(){

        $('#removeArticle').submit(function(){

            {{!-- $.ajax({
                url: 'http://localhost:8080/login',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(user),
                success: function(response){
                    console.log(response);
                },
                error: function(err){
                    console.log(err);
                }
            }); --}}

        });

    });
</script>