<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Players</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
    
    {{!-- Header --}}
    {{#unless dashboard}}
        {{>header}}
    {{/unless}}

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                {{{body}}}

            </div>
        </div>
    </div>


</body>
</html>